body{
  font-family: sans-serif;
  text-align: center;
}

h2 {
  color: black;
  font-family: "Tahoma";
  font-size: 30px; line-height: 20px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
  font-stretch: ultra-condensed;
}

h1 {
  color: black;
  font-family: "Tahoma";
  font-size: 20px; line-height: 20px;
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  font-stretch: ultra-condensed;
}

.wrapper{
	width:90%;
	max-width: 1024px;
	margin:20px auto;
  text-align: center;
}

ul.menu li{
	display: inline-block;
	padding-right:20px;
}


.menu a{
	color:black;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
}

.menu a:hover {
  color: #ff9999;
}

ul .menu{
  text-align: center;
}

.carousel {
  width:90%;
	max-width: 1024px;
	margin:20px auto;
  text-align: center
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.subtitles {
  text-align: left;
}

.jumbotron {
  width: 100%;
  max-width: 1024px;
  padding-top: 90px;
  min-height: 300px;
  margin-bottom: 0;
  background-color: #e6e6e6;
  }

  .container {
    max-width: 90%;
    text-align: center;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
  }

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.subheadings {
  text-align: left;
}

.map {
  text align: center;
  padding-bottom: 20px;
}

ul.address li{
	display: list-item;
  padding-bottom: 10px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
